.pageHeader {
  text-align: center;
  margin: 20px;
}

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; 
}

.shop {
  display: flex;
  border: dashed 1px;
  flex: 0 0 30%;
  text-align: left;
  padding: 5px;
  margin: auto;
  
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightslategray;
    text-align: center;
  }